@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --main-color: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins) !important;
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.custom_transition{
  transition: 0.3s;
}


